

body {
    font-family: Nunito;
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px minmax(300px, 4fr) 300px;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    font-weight: 500;
    font-size: 1.3em;
    background-color: yellow;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: red;
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: green
}

.trends {
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn img, .setting-btn img, img.dashboard {
    width: 2em;
    height: 2em;
    margin-left: 25px;
}

.search-icon {
    width: 2em;
    height: 2em;
}

.nav-btn div, .setting-btn div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn, .setting-btn, .logo {
    margin-top: 30px;
}

.first-header {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#search {
    height: 2em;
    border-radius: 20px;
    margin-left: 25px;
    width: 500px;
    border: 0;
    padding-left: 20px;
}

#search:focus {
    outline: none;
    padding-left: 20px;
}

