body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    background-color: yellow;
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    background-color: red;
    grid-area: 1 / 2 / 2 / 4;
}

.content {
    background-color: green
}

.trends {
    background-color: blue;
}

.logo {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

img.dashboard {
    width: 2em;
    height: 2em;
    padding-left: 20px;
}

.nav-btn img, .setting-btn img{
    width: 2em;
    height: 2em;
    padding-left: 20px;
}

.nav-btn div, .setting-btn div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn, .setting-btn {
    padding-top: 20px;
}